aside{
            /* background-color: pink; */
            background-color: rgb(255, 255, 255);
            /* background-image: linear-gradient(13deg,#2558db,#2d1609,#2d1609); */

            width: 20%;
            /* min-width: 20%; */
            height: 100vh;
            position: relative;
            top: 0;
            overflow-y: scroll;
            padding: .5rem;

            /* z-index: 7; */
            color: rgb(0, 0, 0);
            scrollbar-width: none;
            /* border-right: 1px solid pink; */
}
aside ul li{
            word-break: break-all;
            padding: 1rem;
            list-style: none;
            border-bottom: 1px solid grey;
           


}
aside ul li:hover{
            background-color: rgb(245, 23, 103);
            color: #ffffff;
           

}

aside ul a{
text-decoration: none;
color: rgb(0, 0, 0);
}
